body {
  background: white;
  color: black;
  font-family: Arial, sans-serif;
}

.main-container {
  max-width: 500px;
  padding: 40px 20px;
}

.title {
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitle {
  color: #ccc;
  margin-bottom: 30px;
}

.btn-main {
  background: #ff4da6;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
}

.btn-main:hover {
  background: #ff1a8c;
}

.btn-whatsapp {
  background: #25D366;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  display: block;
}

.btn-whatsapp:hover {
  background: #1ebe5d;
}

.footer {
  margin-top: 30px;
  font-size: 14px;
  color: #777;
}

.carousel-item .row {
  display: flex;
}

.carousel-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.carousel-img:hover {
  transform: scale(1.08);
}

#imageModal .modal-dialog {
  max-width: 95vw;
  margin: auto;
}

#imageModal .modal-content {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalImage {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
}
